
.Tag {
	margin: 2px 0;
	padding: 0.3em;
	background-color: #F0F0F0;
	border: #B0B0B0 solid 1px;
	border-radius: 4px;
	opacity: 0.7;
/*	display: inline-block;*/
	word-break: break-all;
}

.SelectedTag {
	background-color: #C0C0C0;
	opacity: 1;
}

.SelectableTag:hover {
	cursor: pointer;
	background-color: #C0C0C0;
	opacity: 1;
}

.Counter {
	margin: 0 1rem;
	padding: 0 .5rem;
	background-color: white;
	border-radius: 4px;
}

.on-drag-hover {
	background-color: #FFF0D0;
}

#TagsPanel {
	position: fixed;
	padding: 5px;
	width: 22vw;
	max-height: 80vh;
	right: 5px;
	overflow: auto;
	background-color: #FFF0E0;
	border: #909090 solid 1px;
	border-radius: 4px;
	box-shadow: 1px 1px 3px;
}

#NewRuleForm {
	padding: 0 1em 0 1em;
	background-color: #F5F5FF;
	position: fixed;
	border: #909090 solid 1px;
	border-radius: 4px;
	box-shadow: 1px 1px 3px;
	z-index: 1;
	width: 70%;
}

.RuleOff {
	color: #DDDDDD;
}

.RuleIsException {
	color: #50C050;
}
